.bvm-metadata-container {
    padding: 15px 20px;
    border: 1px solid #eeeeee;

    h2 {
        font-size: 18px;
        padding: 15px 0;
    }

    .bvm-metadata-close {
        position: absolute;
        top: 20px;
        right: 20px;

        font-size: 18px;

        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
    }
}

.bvm-metadata-row {
    padding: 15px 0;
   border-top: 1px solid #eeeeee; 

}
