* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    background-color: color("background");

    font-size: 14px;
    line-height: 1.4;
}

ul,
ol {
    text-decoration: none;
    list-style: none;
}
