.bvm-ledger-search {
    display: flex;
    margin-bottom: 10px;
}

.bvm-ledger {
    display: flex;

    .bvm-metadata-container {
        position: sticky;
        top: 10%;

        flex-grow: 0;
        flex-shrink: 0;

        width: 500px;
        height: 100%;
        padding-left: 10px;

        overflow: auto;
    }

    .bvm-tile-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: minmax(min-content, max-content);

        column-gap: 5px;
        row-gap: 5px;
    }
}