.bvm-metadata {
    padding: 15px 20px;
    border: 1px solid #eeeeee;
    background-color: white;
    z-index: 1;

    h2 {
        font-size: 18px;
        padding: 15px 0;
    }

    .bvm-metadata-close {
        position: absolute;
        top: 18px;
        right: 18px;

        font-size: 24px;

        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;

        h2 {
            word-break: break-all;
        }
    }
}

.bvm-metadata-row {
    padding: 15px 0;
    border-top: 1px solid #eeeeee;
}
