.bvm-tile {
    padding: 5px 15px;

    min-height: 150px;
    border-radius: 4px;

    color: #000000;
    background-color: color("primary");
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: lighten(color("primary"), 3);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

        cursor: pointer;
        transition: 0.15s;
    }
}
.bvm-tile__descrow {
    font-size: large;
    word-break: break-all;
    padding-bottom: 5px;
}
