.bvm-tile {
    min-width: 150px;
    max-width: 150px;

    height: 100px;
    border-radius: 4px;

    color: #ffffff;
    background-color: color("primary");
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: lighten(color("primary"), 3);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

        cursor: pointer;
        transition: 0.15s;
    }
}
