.bvm-topology-card-title {
    font-size: 1.0rem !important;

}
.bvm-topology-card-title-mini {
    font-size: 0.8rem !important;

}
.bvm-topology-card-subtitle-mini {
    font-size: 0.6rem !important;
}
